/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
/* font-family: 'Bungee Shade', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* End of Imports */


/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */


/* Custom Properties */

:root {

    /* fonts */
    --logo-font: 'Bungee Shade', cursive;
    --heading-font: 'Lato', sans-serif;
    --regular-font: 'Open Sans', sans-serif;

    /* colors */
    --primary-color: #1a535c;
    --secondary-color: #4ECDC4;
    --mint-cream: #f7fff7;

}

/* End of Custom Properties */


/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */


/* Global Styles*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f7fff7;
}

/* End of Global Styles */


/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */


/* Header Styles */

header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid var(--primary-color);
}

header > h1 {
    font-family: var(--logo-font);
    color: var(--primary-color);
    flex: 100%;
}

header > div {
    flex: 100%;
    text-align: right;
    margin-top: 1%;
}

header div > a {
    text-decoration: none;
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: large;
    font-weight: 600;
}

header div > a:nth-child(1) {
    margin-right: 3%;
}

header div > a:nth-child(2) {

}

/* End of Header Styles */


/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */


/* Footer Styles */

footer {
    text-align: center;
    background-color: var(--secondary-color);
    margin-top: 5%;
}

footer > p {
    font-family: var(--regular-font);
    font-size: .9rem;
    color: darkslategray;
    padding-top: 1%;
}

footer > p:nth-child(2) {
    padding-bottom: 1%;
}

footer p > span {
    border-bottom: 1px solid darkslategray;
}

footer p span > a {
    text-decoration: none;
    color: darkslategray;
}

/* End of Footer Styles */


/* oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo */


/* Index Main Styles */

main {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

/* intro section */

/* end of intro section */

/* logo section */

/* end of logo section */

/* End of Index Main Styles */